<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <add value="app.js" />
            </files>
        </defaultDocument>
	      <rewrite>
      		<rules>
        		<rule name="/">
          			<match url="/*" />
          			<action type="Rewrite" url="app.js" />
        		</rule>
      	</rules>
    </rewrite> 
    </system.webServer>
</configuration>